.amazon-blue-bg {
    background: #1A3150 !important;
}

.bottom-nav {
    background: #1A3150;
}

.nav-btn {
    color: #fff !important;
}

.nav-btn:active,
.nav-btn:focus {
    color: #FFA41C !important;
}

.nav-btn span {
    color: #fff !important;
}

@media (min-width: 601px) {
    .bottom-nav {
        display: none;
    }
}